<!Doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
    <nav th:replace="fragments :: header"></nav>

    <!-- We don't need below error msg, since we can use th:errors to
    directly render the error msg's for each of the fields-->
<!--    <p th:text="${errorMsg}" style="color: red"></p>-->

    <form method="post" action="create">
        <div class="form-group">
            <label>Name
<!--                because we are passing empty Event obj from the diplayCreateEventForm
                    from EventController, we don't need to explicitly give the type and name
                    and it can just be replaced with th:field = "${event.name}"-->
<!--                <input type="text" name="name" class="form-control" and same goes
                    for the rest of input with explicitly called inputs-->
                <input th:field="${event.name}" class="form-control">
            </label>
            <p class="error" th:errors="${event.name}">aaaa</p>
        </div>
        <div class="form-group">
            <label>Description
<!--                <input type="text" name="description" class="form-control">-->
<!--                <input th:field="${event.description}" class="form-control">-->
                <input th:field="${event.eventDetails.description}" class="form-control">
            </label>
<!--            <p class="error" th:errors="${event.description}"></p>-->
            <p class="error" th:errors="${event.eventDetails.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
<!--                <input type="text" name="contactEmail" class="form-control">-->
<!--                <input th:field="${event.contactEmail}" class="form-control">-->
                <input th:field="${event.eventDetails.contactEmail}" class="form-control">
            </label>
<!--            <p class="error" th:errors="${event.contactEmail}"></p>-->
            <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>Location
<!--                <input th:field="${event.location}" class="form-control">-->
                <input th:field="${event.eventDetails.location}" class="form-control">
            </label>
<!--            <p class="error" th:errors="${event.location}"></p>-->
            <p class="error" th:errors="${event.eventDetails.location}"></p>
        </div>
        <div class="form-group">
            <label>Registration <br>
<!--                <input type="radio" th:field="${event.isRegistered}" th:value="true"> <label>Yes</label>-->
<!--                <input type="radio" th:field="${event.isRegistered}" th:value="false"> <label>No</label>-->
                <input type="radio" th:field="${event.eventDetails.isRegistered}" th:value="true"> <label>Yes</label>
                <input type="radio" th:field="${event.eventDetails.isRegistered}" th:value="false"> <label>No</label>
            </label>
<!--            <p class="error" th:errors="${event.isRegistered}"></p>-->
            <p class="error" th:errors="${event.eventDetails.isRegistered}"></p>
        </div>
        <div class="form-group">
            <label>Number of Attendees
<!--                <input th:field="${event.attendees}" class="form-control">-->
                <input th:field="${event.eventDetails.attendees}" class="form-control">
            </label>
<!--            <p class="error" th:errors="${event.attendees}"></p>-->
            <p class="error" th:errors="${event.eventDetails.attendees}"></p>
        </div>
        <div>
            <label>Type
<!--                <select th:field="${event.eventCategory}">-->
<!--                    <option th:each="category:${categories}"-->
<!--                            th:value="${category.id}"-->
<!--                            th:text="${category.name}">-->
<!--                    </option>-->
<!--                </select>-->
                <select th:field="${event.eventCategory}">
                    <option th:each="eventCategory:${categories}"
                            th:value="${eventCategory.id}"
                            th:text="${eventCategory.name}">
                    </option>
                </select>
                <p class="error" th:errors="${event.eventCategory}"></p>
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success">
        </div>
    </form>
</body>
</html>
