<!Doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body class="container">
        <h1>All Events</h1>
        <nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No events!</p>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tr th:each="event : ${events}">
<!--                Thymleaf actually implicitly calls getter for the name field
                    to reference the name since the name is a private field but it's written
                      as if it is just referencing directly for the sake brevity. This is called
                      syntactic sugar-->
                <td th:text="${event.name}"></td>
            </tr>
        </table>
    </body>
</html>
